# -*- coding: utf-8 -*-
# vim: ft=yaml
---
ssf:
  ### Your local configuration
  formulas_path: '/local/path/to/formulas/directory'
  user: 'your_user'
  group: 'your_group'

  git:
    ### Override the tracking branch for the upstream repo
    ### Default shown below will be used if left commented out
    # branch:
    #   upstream: upstream
    ### Add extra options to the `git commit`, such as turning off GPG signing
    commit:
      # Use this to modify the author of the commit propagated throughout the
      # affected formulas.  Override via. pillar/config.  A blank value here
      # avoids using the `--author` setting entirely, which is the default.
      # The enclosed double-quotes are required to avoid the following error:
      #   -bash: syntax error near unexpected token `newline'
      author: '"Foo Bar <foobar@example.com>"'
      options: '--no-gpg-sign'
    ### Your GitHub configuration
    github:
      user: 'your_github_username'
      ### Local file to capture the GitHub API response when automatically
      ### creating the PR, prevents spamming the Salt output;
      ### Default shown below will be used if left commented out
      # file_api_response: github_api_response
    ### All `git`-related states default to `False`; enable here as required
    ### When testing this formula, the layout below is recommended:
    ### - Branch is prepared, changes are added/removed and a commit is prepared
    ### - The commit isn't pushed, neither directly nor via. a newly created PR
    states:
      prepare:
        active: true
      add_rm:
        active: true
      commit_push:
        active: true
      #   push:
      #     active: true
      #     via_PR: false
      create_PR:
        # active: true
        ### This is a necessary override since the default script does not
        ### contain a GitHub API token; copy the file to `your_directory`
        ### and simply add your personal token at the top of the script
        source: 'salt://ssf/files/your_directory/git/git_30_create_PR.sh'

  ### Any customisations to the formulas can be made here
  ### Usually, this is unnecessary but a likely override could be an upstream tracking
  ### branch that doesn't match the default values
  semrel_formulas:
    ssf:
      context:
        git:
          # Override the names of the local tracking branches to use
          branch:
            upstream: 'my_upstream_tracking_branch'
          github:
            # Override the configuration of the remotes
            remote:
              # The upstream formula repo
              upstream:
                name: 'upstream'
                branch: 'master'
              # Your fork of the repo
              fork:
                name: 'origin'
                branch: 'master'

  ### No formulas or files are active by default
  ### State the formulas and files to work through when running the formula
  active:
    semrel_formulas:
      - apache
      - apt
      - apt-cacher
      - arvados
      - bind
      - cert
      - chrony
      - collectd
      - consul
      - cron
      - deepsea
      - dhcpd
      - django
      - docker
      - eclipse
      - epel
      - exim
      - fail2ban
      - firewalld
      - golang
      - grafana
      - hostsfile
      - icinga2
      - influxdb
      - iptables
      - iscsi
      - jetbrains-appcode
      - jetbrains-datagrip
      - jetbrains-goland
      - jetbrains-intellij
      - jetbrains-phpstorm
      - jetbrains-pycharm
      - jetbrains-resharper
      - jetbrains-rider
      - jetbrains-rubymine
      - jetbrains-webstorm
      - keepalived
      - letsencrypt
      - libvirt
      - locale
      - logrotate
      - lvm
      - mattermost
      - mongodb
      - mysql
      - nfs
      - nginx
      - nifi
      - node
      - ntp
      - openldap
      - openssh
      - openvpn
      - packages
      - php
      - postfix
      - postgres
      - powerdns
      - prometheus
      - rabbitmq
      - redis
      - rkhunter
      - salt
      - ssf
      - stack
      - strongswan
      - stunnel
      - sudoers
      - sysctl
      - syslog-ng
      - sysstat
      - systemd
      - telegraf
      - template
      - timezone
      - tomcat
      - ufw
      - users
      - varnish
      - vault
      - vim
      - vsftpd
      - zabbix
    semrel_files:
      - .github/workflows/commitlint.yml
      - bin/kitchen
      - docs/TOFS_pattern.rst
      - formula/libsaltcli.jinja
      - formula/libtofs.jinja
      - inspec/inspec.yml
      - inspec/README.md
      - .gitignore
      - .cirrus.yml
      - .rubocop.yml
      - .salt-lint
      - .travis.yml
      - .yamllint
      - commitlint.config.js
      - CODEOWNERS
      - Gemfile
      - Gemfile.lock
      - kitchen.yml
      - pre-commit_semantic-release.sh
      - release-rules.js
      - release.config.js
