# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Get the `tplroot` from `tpldir` #}
{%- set tplroot = tpldir.split('/')[0] %}
{#- Start imports as #}
{%- import_yaml tplroot ~ "/defaults.yaml" as defaults %}
{%- import_yaml tplroot ~ "/formulas.yaml" as formulas %}

{#- Merge the formulas #}
{%- do salt['defaults.merge'](defaults, formulas) %}

{#- Merge the ssf config (e.g. from pillar) #}
{%- set config = salt['config.get'](tplroot, default={}, merge='recurse') or {} %}
{%- do salt['defaults.merge'](defaults[tplroot], config) %}

{#- Prepare the export #}
{%- set ssf = defaults[tplroot] %}
